<h2>Listing circuits</h1>

<div id="chart_column" style="width: 560px; height: 300px;"></div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
      chart: {
        renderTo: 'chart_column',
        defaultSeriesType: 'column',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'CCircuits per provider'
      },
      xAxis: {
        categories: <%= Circuit.provider_name %>
      },
      series: [{
        data: <%= (Provider.first.id..Provider.last.id).map { |blah| Provider.find(blah).circuits.count}.inspect %> 
      }]
    });
  $('tspan').last().remove();
  });
</script>

<table>
  <tr>
    <th>Reference</th>
    <th>Provider</th>
    <th>End a Endpoint</th>
    <th>End a Medium</th>
    <th>End b Endpoint</th>
    <th>End b Medium</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @circuits.each do |circuit| %>
  <tr>
    <td><%= circuit.reference %></td>
    <td><%= circuit.provider.name %></td>
    <td><%= circuit.end_a_endpoint.name %></td>
    <td><%= circuit.end_a_medium.name %></td>
    <td><%= circuit.end_b_endpoint.name %></td>
    <td><%= circuit.end_b_medium.name %></td>
    <td><%= link_to 'Show', circuit %></td>
    <td><%= link_to 'Edit', edit_circuit_path(circuit) %></td>
    <td><%= link_to 'Destroy', circuit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Circuit', new_circuit_path %>
