<h2>Listing circuits</h1>

<table>
  <tr>
    <th>Reference</th>
    <th>Provider</th>
    <th>End a Endpoint</th>
    <th>End a Medium</th>
    <th>End b Endpoint</th>
    <th>End b Medium</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @circuits.each do |circuit| %>
  <tr>
    <td><%= circuit.reference %></td>
    <td><%= circuit.provider.organization.name %></td>
    <td><%= circuit.end_a_endpoint.name %></td>
    <td><%= circuit.end_a_medium.name %></td>
    <td><%= circuit.end_b_endpoint.name %></td>
    <td><%= circuit.end_b_medium.name %></td>
    <td><%= link_to 'Show', circuit %></td>
    <td><%= link_to 'Edit', edit_circuit_path(circuit) %></td>
    <td><%= link_to 'Destroy', circuit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Circuit', new_circuit_path %>
