<p id="notice"><%= notice %></p>

<p>
  <b>Reference:</b>
  <%= @circuit.reference %>
</p>

<p>
  <b>Provider:</b>
  <%= @circuit.provider.name %>
</p>

<p>
  <b>End a:</b>
  <%= @circuit.end_a.name %>
</p>

<p>
  <b>End b:</b>
  <%= @circuit.end_b.name %>
</p>

<p>
  <b>Media:</b>
  <%= @circuit.medium.name %>
</p>


<%= link_to 'Edit', edit_circuit_path(@circuit) %> |
<%= link_to 'Back', circuits_path %>
