<p id="notice"><%= notice %></p>

<p>
  <b>Reference:</b>
  <%= @circuit.reference %>
</p>

<p>
  <b>Provider:</b>
  <%= @circuit.provider.organization.name %>
</p>

<p>
  <b>Circuit end a endpoint:</b>
  <%= @circuit.circuit_end_a_endpoint.name %>
</p>

<p>
  <b>Circuit end a medium:</b>
  <%= @circuit.circuit_end_a_medium.name %>
</p>

<p>
  <b>Circuit end b endpoint:</b>
  <%= @circuit.circuit_end_b_endpoint.name %>
</p>

<p>
  <b>Circuit end b medium:</b>
  <%= @circuit.circuit_end_b_medium.name %>
</p>

<p>
  <b>Circuit medium:</b>
  <%= @circuit.circuit_medium.name %>
</p>


<%= link_to 'Edit', edit_circuit_path(@circuit) %> |
<%= link_to 'Back', circuits_path %>
