<p id="notice"><%= notice %></p>

<p>
  <b>Reference:</b>
  <%= @circuit.reference %>
</p>

<p>
  <b>Provider:</b>
  <%= @circuit.provider.organization.name %>
</p>

<p>
  <b>Circuit end a endpoint:</b>
  <%= @circuit.circuit_end_a_endpoint.name %>
</p>

<p>
  <b>Circuit end a medium:</b>
  <%= @circuit.circuit_end_a_medium.name %>
</p>

<p>
  <b>Circuit end b endpoint:</b>
  <%= @circuit.circuit_end_b_endpoint.name %>
</p>

<p>
  <b>Circuit end b medium:</b>
  <%= @circuit.circuit_end_b_medium.name %>
</p>

<p>
  <b>Circuit medium:</b>
  <%= @circuit.circuit_medium.name %>
</p>

<h3>Legs</h3>
<%= render :partial => "circuit_legs/legs",
           :collection => @circuit.circuit_legs %>


<h3>Add a leg:</h3>
<%= form_for([@circuit, @circuit.circuit_legs.build]) do |f| %>
  <div class="field">
    <%= f.label :link_id %><br />
    <%= f.collection_select :link_id, @links,
                            :id, :reference,
                            :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_circuit_path(@circuit) %> |
<%= link_to 'Back', circuits_path %>
