<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br />
    <%= f.collection_select :provider_id, @providers,
                            :id, :organization_name,
                            :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.collection_select :client_id, @clients,
                            :id, :organization_name,
                            :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :link_end_a_endpoint_id %><br />
    <%= f.collection_select :link_end_a_endpoint_id, @endpoints,
                            :id, :name,
                            :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :link_end_b_endpoint_id %><br />
    <%= f.collection_select :link_end_b_endpoint_id, @endpoints,
                            :id, :name,
                            :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
