<table>
  <tr>
    <td><%= link_leg.circuit.reference %></td>
    <td><%= link_leg.circuit.provider.organization.name %></td>
    <td><%= link_leg.circuit.circuit_end_a_endpoint.abbreviation %></td>
    <td><%= link_leg.circuit.circuit_end_b_endpoint.abbreviation %></td>
    <td>
    <%= link_to 'Destroy', [link_leg.link, link_leg],
               :confirm => 'Are you sure?',
               :method => :delete %>
    </td>
    <td><%= link_to 'Edit', edit_link_link_leg_path(link_leg.link, link_leg) %></td>
    <td><%= link_to 'Show circuit', link_leg.circuit %></td>

  </tr>
</table>
