<% @dependant_circuits.each do |circuit| %>
  <tr>
    <td><%= circuit.reference %></td>
    <td><%= circuit.provider.organization.name %></td>
    <td><%= circuit.circuit_end_a_endpoint.name %></td>
    <td><%= circuit.circuit_end_b_endpoint.name %></td>
    <td><%= link_to 'Show', circuit %></td>
    <td><%= link_to 'Edit', edit_circuit_path(circuit) %></td>
    <td><%= link_to 'Destroy', circuit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
