<p id="notice"><%= notice %></p>

<p>
  <b>Reference:</b>
  <%= @link.reference %>
</p>

<p>
  <b>Provider:</b>
  <%= @link.provider.organization.name %>
</p>

<p>
  <b>Link end a endpoint:</b>
  <%= @link.link_end_a_endpoint.name %>
</p>

<p>
  <b>Link end b endpoint:</b>
  <%= @link.link_end_b_endpoint.name %>
</p>

<p>
  <b>Link end a medium:</b>
  <%= @link.link_end_a_medium.name %>
</p>

<p>
  <b>Link end b medium:</b>
  <%= @link.link_end_b_medium.name %>
</p>

<p>
  <b>Link medium:</b>
  <%= @link.link_medium.name %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
