<p id="notice"><%= notice %></p>

<table>
<h3>I depend on these</h3>
<%= render :partial => "link_legs",
           :collection => @link.link_legs, :as => :link_leg %>
</table>


<table>
<h3>These depend on me</h3>
<%= render :partial => "link_dependants",
           :collection => @link.circuit_legs, :as => :circuit_leg %>
</table>

<table>
  <h3>Link details:</h3>
  <tr>
    <th>Reference</th>
    <th>Provider</th>
    <th>Client</th>
    <th>Link end A endpoint</th>
    <th>Link end B endpoint</th>
  </tr>

  <tr>
    <td><%= @link.reference %></td>
    <td><%= @link.provider.organization.name %></td>
    <td><%= @link.client.organization.name %></td>
    <td><%= @link.link_end_a_endpoint.name %></td>
    <td><%= @link.link_end_b_endpoint.name %></td>
  </tr>
</table>


<h3>Add a leg:</h3>
<%= render :partial => "link_legs/form" %>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
