<h1>Let me tell you!</h1>
<p>Total number of providers: <%= @providers_total %></p>

<p>Total number of circuits: <%= @circuits_total %></p>

<p>Total number of endpoints: <%= @endpoints_total %></p>

<p>Circuits per provider: <%= @circuits_per_provider %></p>

<p>Circuits per endpoint: <%= @circuits_per_endpoint %></p>
